.profile-image {
    background-image: url("/assets/images/etc/kks_profile.jpg");
}

.background{
background: rgb(22, 30, 46);
    min-height: 100vh;

}

html,body{
    background-color:#161825;
}

blockquote{
    background-color: rgb(30 34 53);
    border-radius: 1rem;
}

blockquote p{
    font-weight: 700;
    color: #60A5FA;
}

/* sfs */ 