<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <script defer src="/assets/js/tailwindcss.js"></script> -->
  <script defer src="/assets/js/codeblock_circle.js"></script>
  <script defer src="/assets/js/animation.js"></script>
  <link rel="stylesheet" href="/assets/css/mysyntax.css" />
  <link rel="stylesheet" href="/assets/css/input.css" />
  <title>blog</title>
</head>

<body>
  <main class="background">
    <section class="flex h-full mx-auto max-w-screen-lg">{{content}}</section>
  </main>
</body>

</html>